In [ ]:
#1.1
print(5/ 8)

0.625

In [ ]:
#1.1.2
print(7+10)

In [ ]:
#1.2
#This is a comment
print("Hello, World!") #This line prints a greeting message

In [ ]:
#1.3
#addition and subtraction
print(5+5)
print(5-5)
print("*")

#multiplication and division
print(3*5)
print(10/2)
print("*")

#exponentiation
print(4**2)
print("*")

#modulus
print(18%7)
print("*")

In [ ]:
#1.3.2
#example about bank saving account
print(1000*1.1**15)

In [ ]:
#2.1
# variable x will have the value of 5
x = 5

#print the value of x
print(x)

In [ ]:
#2.1.2
#the variable savings will have the value of 1000
savings = 1000

#print the value of savings
print(savings)

In [ ]:
#2.2
#create saving variable
savings = 1000

#create factor variable
factor = 1.1

#calculate result and store it in result variable
result = savings * factor ** 15

#print the value of result
print(result)

In [ ]:
#2#create a variable desc
desc = 'Data Science'

#create a variable profitable
profitable = True

In [ ]:
#2.3.2
#create a variable
a = 10

#print data type of a
print(type(a))

In [ ]:
#2.3.3
#print data type of savings, factor, desc, and profitable
print(type(savings))

print(type(factor))

print(type(desc))

print(type(profitable))

In [ ]:
#2.4
#create a variable year1 with value is result of savings * factor
year1 = savings * factor

#display the data type of year1
print(type(year1))

#Create a variable doubledesc that multiple desc with 2
doubledesc = desc * 2

#display the data type of doubledesc
print(type(doubledesc))

In [ ]:
#2.5
# Calculate and display compound interest after 15 years with 10% annual growth rate
print("I deposited $" + str(savings) + " in the bank, and after 15 years, now I have $" + str(result) + ". Wonderful!")

# Create pi_string variable to represent the value of pi up to 7 decimal places
pi_string = "3.1415926"

# Convert pi_string to a float and store it in pi_float
pi_float = float(pi_string)

In [ ]:
#3.1
# Variables representing room areas in square meters
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Initialize areas list with all room variables
areas = [hall, kit, liv, bed, bath]

# Print the areas list
print(areas)

In [ ]:
#3.2
# Variables representing room areas in square meters
# hall, kit, liv, bed, bath store the area values for different rooms
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Initialize areas list with all room variables
# Combine all room areas into a single list for easier manipulation
areas = [hall, kit,"living room", liv, bed, "bathroom", bath]

# Print the areas list
# Display the complete list of all room areas
print(areas)

In [ ]:
#3.3
# Variables representing room areas in square meters
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Information about the house, represented by a list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv]]

# Print the value of house
print(house)

# Print the data type of house
print(type(house))

In [ ]:
#4.1
# Initialize areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print the second element of areas
print(areas[1])

# Print the last element of areas
print(areas[-1])

# Print the area of living room
print(areas[5])

In [ ]:
#4.2
# Initialize areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Total area of kitchen and bedroom: eat_sleep_area
eat_sleep_area = areas[3] + areas[-3]

# Print the value of eat_sleep_area
print(eat_sleep_area)

In [ ]:
#4.3
# Initialize areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Extract elements from areas to initialize downstairs
downstairs = areas[0:6]

# Extract elements from areas to initialize upstairs
upstairs = areas[6:-1]

# Print downstairs and upstairs
print(downstairs)
print(upstairs)

In [ ]:
#4.4
# Initialize areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Extract elements from areas to initialize downstairs (method 2)
downstairs = areas[:6]

# Extract elements from areas to initialize upstairs (method 2)
upstairs = areas[6:]

# Print downstairs and upstairs
print(downstairs)
print(upstairs)

In [ ]:
#4.5
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
x[2][0]
x[2][:2]

In [ ]:
#5.1
# Initialize areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Modify the area of bathroom
areas[-1] = 10.50

# Change "living room" to "chill zone"
areas[4] = 'chill zone'

# Print areas
print(areas)

In [ ]:
#5.2
# Initialize areas
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

# Add poolhouse data to areas, create new list named areas_1
areas_1 = areas  + ["poolhouse", 24.5]

# Add garage data to areas_1, create new list named areas_2
areas_2 = list(areas_1)
areas_2.extend(["garage", 15.45])

# Print areas_1 and areas_2
print(areas_1)
print(areas_2)

In [ ]:
#5.3
# Initialize areas
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

# Delete "poolhouse"
del(areas[-4])

# Delete the area of poolhouse
del(areas[-3])

# Print areas
print(areas)

In [ ]:
#5.4
# Initialize areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Modify areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

In [ ]:
#6.1
# Initialize variables
var1 = [1, 2, 3, 4]
var2 = True

# Print the type of var1
print(type(var1))

# Print the number of elements in var1
print(len(var1))

# Convert var2 to integer, save result in out2
out2 = int(var2)

In [ ]:
#6.2
help(complex)

In [ ]:
#6.3
help(sorted)

In [ ]:
#6.3.2
# Initialize lists
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Combine first and second into full list
full = first + second

# Sort full in descending order, save to full_sorted
full_sorted = sorted(full, reverse=True)

# Print full_sorted
print(full_sorted)

In [ ]:
#7.1
# Create string room
room = "poolhouse"

# Use upper() function on room, save result to room_up
room_up = room.upper()

# Print room and room_up
print(room, room_up)

# Print the number of characters in room
print(len(room))

In [ ]:
#7.2
# Initialize areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print the index of element with value 20.0
print(areas.index(20))

# Print how many times 14.5 appears in areas, using count() method
print(areas.count(14.5))

In [ ]:
#7.3
# Initialize areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append method twice to add poolhouse and garage data
areas.append(24.5)
areas.append(15.45)
# Print areas
print(areas)

# Reverse the order of elements in areas
areas.reverse()

# Print areas
print(areas)